services:

  backend:
    build: ./app/backend
    image: jjmartinezd/backend:latest
    container_name: tareas-backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: 123456
      DB_NAME: tareasdb
      DB_PORT: 3306
      PORT: 3001
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
      interval: 10s
      retries: 5
      timeout: 5s

  frontend:
    build: ./app/frontend
    image: jjmartinezd/frontend:latest
    container_name: tareas-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      backend:
        condition: service_healthy
    environment:
      REACT_APP_API_URL: "http://localhost:3001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 10s
      retries: 5
      timeout: 5s

  mysql:
    image: mysql:8.0
    container_name: tareas-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: tareasdb
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 10
      timeout: 5s

volumes:
  db_data:
