name: CI/CD DevOps Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # ===============================
      # BACKEND
      # ===============================
      - name: Install backend dependencies
        working-directory: ./app/backend
        run: npm install

      - name: Run backend tests
        working-directory: ./app/backend
        run: |
          if [ -f "package.json" ]; then
            npm test --if-present
          fi

      # ===============================
      # FRONTEND
      # ===============================
      - name: Install frontend dependencies
        working-directory: ./app/frontend
        run: npm install

      - name: Build frontend
        working-directory: ./app/frontend
        run: npm run build

      # ===============================
      # DOCKER
      # ===============================
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build backend image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USER }}/backend:latest \
            -f docker/Dockerfile.backend .

      - name: Build frontend image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USER }}/frontend:latest \
            -f docker/Dockerfile.frontend .

      - name: Push backend image
        run: docker push ${{ secrets.DOCKER_USER }}/backend:latest

      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_USER }}/frontend:latest

      - name: Trigger local deploy webhook
        run: curl -X POST ${{ secrets.WEBHOOK_DEPLOY }}
